.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.status-bar {
  position: relative;
  text-align: center;
  background: var(--accent-bg);
  margin: var(--margin);
  border: var(--border-size) solid var(--accent-border);
}

.status-tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  bottom: calc(100% + 3*var(--border-size));
  padding: var(--padding);
  background: var(--bg);
  border: var(--border-size) solid var(--border);

  visibility: hidden;
  opacity: 0;

  overflow-wrap: anywhere;
  z-index: 1000;
}

.status-bar:hover .status-tooltip {
  visibility: visible;
  opacity: 1;
}
